    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-4">
            <h2>Login</h2>
            <p class="text-muted">If you have Username and Password, you can use the button below to access the secured content using a token.</p>
            <p><a class="btn btn-github" href="#/login" role="button">Login &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Register</h2>
            <p class="text-muted">Use the button below to create Username and Password to access the secured content using a token.</p>
            <p><a class="btn btn-github" href="#/register" role="button">Register &raquo;</a></p>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
